<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="#000000" name="theme-color"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link href="/dashboard/manifest.json" rel="manifest"/>

    <!-- Favicon -->
    <link href="/dashboard/favicon/logo_small.png" rel="icon"/>
    <!--    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />-->
    <!--    <link rel="icon" type="image/png" sizes="32x32" href="on/favicon-32x32.png" />-->
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />-->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <title>GenBase</title>
    <meta
            content="The starting point for your next project with Minimal UI Kit, built on the newest version of Material-UI ©, ready to be customized to your style"
            name="description"
    />
    <meta content="react,material,kit,application,dashboard,admin,template" name="keywords"/>
    <meta content="Minimal UI Kit" name="author"/>
    <script crossorigin src="/dashboard/assets/index-beb67daf.js" type="module"></script>
    <link href="/dashboard/assets/index-0c976e4c.css" rel="stylesheet">
</head>

<body>
<div id="root"></div>
<script>
    const global = globalThis;
</script>

</body>
</html>
